<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>

*{color:#111111;}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px 10px;
    text-align: left;    
}
select {
	font-size:15px;
}
</style>
</head>

<body>
	<h1 style="text-align: center;"> BEQAS </h1>
	<h3 style="text-align: center;"> Blood Bank External Quality Assessment Scheme</h3>
	<h3 style="text-align: center;"> Cycle No.1</h3>

	<h2> PatientId=<textarea></textarea></h2>

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<table style="width:50%">
				<div class="col-sm-10 col-sm-offset-1">
				<tr>
					<th colspan=14>
						<h2 style="text-align:left;"> Samples 1,2,3,4&5-Serum Specimens
						</h2>
					</th>
				</tr>
				<tr>
					<th>S.No.</th>
					<th>Parameter</th>
					<th>Methodology</th>
					<th>Cut-off value</th>
					<th colspan=2>Sample No.1</th>
					<th colspan=2>Sample No.2</th>
					<th colspan=2>Sample No.3</th>
					<th colspan=2>Sample No.4</th>
					<th colspan=2>Sample No.5</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>OD</td>
					<td>Result</td>
					<td>OD</td>
					<td>Result</td>
					<td>OD</td>
					<td>Result</td>
					<td>OD</td>
					<td>Result</td>
					<td>OD</td>
					<td>Result</td>
				</tr>
				<tr>
					<td>1</td>
					<td>HBsAg</td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Anti-HIV 1&2</td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
				</tr>
				<tr>
					<td>3</td>
					<td>Anti-HCV</td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
				</tr>
				<tr>
					<td>4</td>
					<td>Syphilis</td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
				</tr>
			</div>
			</table>
		</div>	
	</div>	

	<br>
	<br>


	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<table style="width:100%">
				<tr>
					<th colspan=5>
						<h2 style="text-align:center;"> Samples 6&7-Whole Blood in EDTA Vials
						</h2>
					</th>
				</tr>
				<tr>
					<th>S.no.</th>
					<th>Parameter</th>
					<th>Methodolgy</th>
					<th> Sample No.6</th>
					<th> Sample No.7</th>
				</tr>
				<tr>
					<td>5</td>
					<td>Malaria Parasite</td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
				</tr>	
				<tr>
					<td>6</td>
					<td>Hemoglobin(gm/dl)</td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
					<td><textarea></textarea></td>
				</tr>	
			</table>
		</div>
	</div>

	<br>
	<br>

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<table style="width:100%;">
				<tr>
					<th colspan=9>
						<h2 style="text-align: center;">Sample No.6(Patient)-White Blood in EDTA Vials</h2>
					</th>
				</tr>
				<tr>
					<th colspan="4">7. Direct Anti-globulin Test (DAT) (Sample No.6)</th>
					<td colspan="5">
						<select>
							<option>Positive</option>
							<option>Negative</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan=9>
						<h3 style="text-align: center;">8.ABO Rh(D) Grouping & typing Technique Used (Sample No.6)</h3>
					</td>
				</tr>
				<tr>
					<th>
						Scoring System
					</th>
					<td colspan=8>ABO Rh(D) Grouping & Typing</td>
				</tr>
				<tr>
					<th>0-4+(Select Appropriately)</th>
					<td>Slide</td>
					<td>Title</td>
					<td>Tube</td>
					<td>Column(Gel)</td>
					<td>Column(Bead)</td>
					<td>Micro Plate</td>
					<td colspan="2
					">Other Specify</td>
				</tr>
				<tr>
					<th>Patient Identification</th>
					<th colspan="4">
						Cell(Forward)Typing
					</th>
					<th colspan="3">
						Serum(Reverse)Group
					</th>
					<th rowspan="2">
						ABO & Rh(D) Result
					</th>
				</tr>
				<tr>
					<th rowspan="2">
						Patient-1 Sample No.6
					</th>
					<th>Anti A</th>
					<th>Anti B</th>
					<th>Anti AB+</th>
					<th>Anti D</th>
					<th>A1 cells</th>
					<th>B cells</th>
					<th>O cells</th>
				</tr>
				<tr>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td><textarea></textarea></td>
				</tr>
			</table>
		</div>
	</div>	

	<br>
	<br>

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<table style="width:100%;">
				<tr>
					<td colspan=9>
						<h3 style="text-align: center;">9.ABO Rh(D) Grouping & typing Technique Used (Sample No.7,8 & 9)</h3>
					</td>
				</tr>
				<tr>
					<th>
						Scoring System
					</th>
					<td colspan=8>ABO Rh(D) Grouping & Typing</td>
				</tr>
				<tr>
					<th>0-4+(Select Appropriately)</th>
					<td>Slide</td>
					<td>Title</td>
					<td>Tube</td>
					<td>Column(Gel)</td>
					<td>Column(Bead)</td>
					<td>Micro Plate</td>
					<td colspan="2
					">Other Specify</td>
				</tr>
				<tr>
					<th>Patient Identification</th>
					<th colspan="4">
						Cell(Forward)Typing
					</th>
					<th colspan="3">
						Serum(Reverse)Group
					</th>
					<th rowspan="2">
						ABO & Rh(D) Result
					</th>
				</tr>
				<tr>
					<th rowspan="2">
						Donor Unit No.-1 Sample No.7
					</th>
					<th>Anti A</th>
					<th>Anti B</th>
					<th>Anti AB+</th>
					<th>Anti D</th>
					<th>A1 cells</th>
					<th>B cells</th>
					<th>O cells</th>
				</tr>
				<tr>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td><textarea></textarea></td>
				</tr>
				<tr>
					<th>
						Donor Unit No.-2 Sample No.8
					</th>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td><textarea></textarea></td>
				</tr>
				<tr>
					<th>
						Donor Unit No.-3 Sample No.9
					</th>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td><textarea></textarea></td>
				</tr>
			</table>
		</div>
	</div>	

	<br>
	<br>

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<table style="width: 100%">
				<tr>
					<th>
						Method Used
					</th>
					<th>Tube</th>
					<th>Column</th>
					<th colspan="2">Other**</th>
					<th rowspan="5">Would you transfer this unit ?</th>
				</tr>
				<tr>
					<th colspan="5" style="text-align: center;">
						<h3>10.Compatibility testing(Sample No.10,11 & 12)
						</h3>
					</th>
				</tr>
				<tr>
					<th rowspan="2"></th>
					<th></th>
					<th colspan="2">Scoring System</th>
					<th>0-4+</th>
				</tr>
				<tr>
					<th>Saline</th>
					<th colspan="2">With Additive LISS/Others**</th>
					<th></th>
				</tr>
				<tr>
					<th>Sample No of Donor & Recipient</th>
					<th>Room Temperature</th>
					<th>Room Temperature</th>
					<th>37degree C</th>
					<th>IAHG</th>
				</tr>
				<tr>
					<th>
						Sample No.(Donor)-7
						<br>
						Sample No.(Recipient)-10
					</th>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>YES</option>
							<option>NO</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>
						Sample No.(Donor)-8
						<br>
						Sample No.(Recipient)-11
					</th>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>YES</option>
							<option>NO</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>
						Sample No.(Donor)-9
						<br>
						Sample No.(Recipient)-12
					</th>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>
					</td>
					<td>
						<select>
							<option>Neg.</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>	
						</select>	
					</td>
					<td>
						<select>
							<option>YES</option>
							<option>NO</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>
						**Specify Other Additive
					</th>
					<td colspan="3">
						<textarea></textarea>
					</td>
					<th>***Other Method</th>
					<td>
						<textarea></textarea>
					</td>
				</tr>
			</table>
		</div>
	</div>

</body>
</html>
