<!DOCTYPEhtml>
<htmllang="en">
 
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!--Optionaltheme-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
			<!--LatestcompiledandminifiedJavaScript-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<style>
		* {
			color: #111111;
		}

		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
		}

		th,
		td {
			padding: 5px 10px;
			text-align: left;
		}

		select {
			font-size: 15px;
		}
	</style>
</head>
<body>
	<br>
	<br>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<h1>&nbsp &nbsp BEQAS</h1>
			<h3>Filtered by Cycle number and year</h3>
			<table>
				<tr>
					<th>Patient Id</th>
					<th>Year</th>
				</tr>
				{% for b in des %}
				<tr>
				<td>{{b.patientId}}</td>
				<td>{{b.year}}</td>
				</tr>	
				{% endfor %}
			</table>
		</div>
	</div>
		
	</body>
</html>